
body {
    font-family: 'Cormorant Garamond', sans-serif;
    margin: 0;
    padding: 0;  
    background: #585656;
    margin-bottom: 3in;
}

h1 {
    text-align: center;
    padding: 40px;
    margin: 0;
    color: rgb(0, 0, 0);
    font-size: 3em;
    text-decoration: none;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}


img{
    border-radius: 20%;
}

.gallery img {
    margin: 10px;
    cursor: pointer;
    max-width: 300px;
    width: 50%;
    height: 50%;
  border-radius: 10px;
}

/* Lightbox styles */
#lightbox {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    overflow: hidden;
    flex-direction: column;
}

#lightbox img {
    max-width: 80%;
    max-height: 60vh;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.8);
  border-radius: 10px;
}

#close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    color: #fff;
    cursor: pointer;
    z-index: 2;
}

/* Style for navigation buttons */
#prev-btn,
#next-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#prev-btn {
    left: 10px;
}

#next-btn {
    right: 10px;
}

#prev-btn:hover,
#next-btn:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* for tutorials */
body {
    font-family: 'Cormorant Garamond', sans-serif;
    margin: 0;
    padding: 0;  
    background: #585656;
    margin-bottom: 3in;
}

h1 {
    text-align: center;
    padding: 40px;
    margin: 0;
    color: rgb(0, 0, 0);
    font-size: 3em;
    text-decoration: none;
}

.tutorials {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

video{
    border-radius: 20%;
}

.tutorials video {
    margin: 10px;
    cursor: pointer;
    max-width: 300px;
    width: 50%;
    height: 50%;
  border-radius: 10px;
}

/* Lightbox styles */
#lightbox {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    overflow: hidden;
    flex-direction: column;
}

#lightbox img {
    max-width: 80%;
    max-height: 60vh;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.8);
  border-radius: 10px;
}

#close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    color: #fff;
    cursor: pointer;
    z-index: 2;
}

/* Style for navigation buttons */
#prev-btn,
#next-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#prev-btn {
    left: 10px;
}

#next-btn {
    right: 10px;
}

#prev-btn:hover,
#next-btn:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
